/**
  @name 变量
 */

/* 颜色 */
$black-1: black !default;

$white: #fff !default;

$blue-1: #0084ff !default;
$blue-2: #f1f9ff !default;
$blue-3: rgba(0, 137, 255, 0.1) !default;

$green-1: #0cc45e !default;
$green-2: #f0f9eb !default;
$green-3: rgba(1, 230, 27, 0.1) !default;

$origin-1: #f7ba2a !default;
$origin-2: #fdf7ef !default;
$origin-3: rgba(255, 84, 54, 0.1) !default;

$red-1: #fa2c19 !default;
$red-2: #fef0f0 !default;
$red-3: rgba(239, 18, 56, 0.1) !default;

$gray-1: #f4f4f4 !default;
$gray-2: rgba(0, 0, 0, 0.1) !default;
$gray-3: rgba(0, 0, 0, 0.2) !default;
$gray-4: rgba(0, 0, 0, 0.4) !default;
$gray-5: rgba(0, 0, 0, 0.6) !default;
$gray-6: rgba(0, 0, 0, 0.8) !default;
$gray-7: rgba(0, 0, 0, 0.9) !default;

$colors: (white: $white,
  black-1: $black-1,
  blue-1: $blue-1,
  blue-2: $blue-2,
  blue-3: $blue-3,
  red-1: $red-1,
  red-2: $red-2,
  red-3: $red-3,
  green-1: $green-1,
  green-2: $green-2,
  green-3: $green-3,
  origin-1: $origin-1,
  origin-2: $origin-2,
  origin-3: $origin-3,
  gray-1: $gray-1,
  gray-2: $gray-2,
  gray-3: $gray-3,
  gray-4: $gray-4,
  gray-5: $gray-5,
  gray-6: $gray-6,
  gray-7: $gray-7,
) !default;

/* 间隔 */

$gaps: (5, 8, 10, 15, 20, 25, 28, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100) !default;

/* 层级 */
$levels: (0: 0,
  10: 10,
  100: 100,
  1000: 1000,
  10000: 10000,
) !default;
/* 字体重量 */
$stroke: (100, 200, 300, 400, 500, 600, 700, 800, 900);